body {
    background-image: url(../images/carbon_fibre.png);
}
p {
    font-weight: 700;
}

h1 {
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 76px;   
}

.jumbotron {
    opacity: 0.6;
}

.row1 {
    height: 125px;
    opacity: 0.8;
}

.row3 {
    height: 150px;
    opacity: 0.9;
}

h3 {
    position: relative;
    top: -30px;
    font-weight: bold;
}

#targetScore {
    color: green;
    font-size: 38px;
    position: relative;
    top: -35px;
    font-weight: bold;
}

#playerScore {
    color: goldenrod;
    font-size: 58px;
    position: relative;
    top: -30px;
    font-weight: bold;
}
#winCount {
    color: rgb(0, 71, 0);
    font-size: 32px;
    position: relative;
    top: -10px;
}

#lossCount {
    color: rgb(85, 0, 0);
    font-size: 32px;
    position: relative;
    top: -15px;
}